@charset "UTF-8";
/*CSS DOCUMENT*/

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
    font-size: 13px;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 20px;
}


body {
    background: #fff;
    width: 100%;
    height: 100%;
}


#container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

#container2 {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2 , minmax(60px, 1fr));
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.col {
    color:black;
    padding: 0px 0px;
}

.col:hover {
    background-color: white;
    opacity: 58%;
    transition: 0.2s;
}

.floatleft {
    float: left;
    padding-right: 1px;
    padding-bottom: 1px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #dedede; 
  border-radius: 0px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #9489c4;
}

.form {
  border-radius: 5px;
  padding: 200px;
  width: 800px;
  height: 450px;
  margin: auto;
  position: relative;
}




@media screen and (max-height: 768px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

    .grid {
        display: grid;
        margin-left: auto;
        margin-right: auto;
        width: 80%;

    }

    #container {
        padding: 10px;
    }